header 
    section 
        div
            p.time 04 August 2024
            p.weather Cloudy
            p.temperature 180C
        div
            img(src="/images/Group 34.svg", alt="alt")
    section
        div
            div 
                img(src="/images/fast-wind.svg", alt="fast-wind icon")
            div 
                p.value 10 m/s
                p.title Wind
        div
            div 
                img(src="/images/humidity.svg", alt="humidity icon")
            div 
                p.value 98%
                p.title Humidity
        div
            div 
                img(src="/images/sun-cloud-hailstone-01.svg", alt="sun-cloud-hailstone-01 icon")
            div 
                p.value 100%
                p.title Rain
        