main
    menu
        button.active Today
        button Tomorrow
        button Next 3 Days
    .card 
        section
            p 10 am
            div
                img(src="/images/sun-cloud-01.svg" alt="sun-cloud-01 icon")
            p 160
        section
            p 11 am
            div
                img(src="/images/sun-cloud-fast-wind-02.svg" alt="sun-cloud-fast-wind-02 icon")
            p 170
        section
            p 12 pm
            div
                img(src="/images/cloud-angled-zap.svg" alt="cloud-angled-zap icon")
            p 180
        section
            p 01 pm
            div
                img(src="/images/cloud-angled-rain-zap.svg" alt="cloud-angled-rain-zap icon")
            p 190